<div class="">
    <div class="row">
        <div class="col-md-5">
            <img src="images\sadboy.jpg" alt="Alternate Text" class="img-responsive" />
            <p class="text-center small">
                <a href="#">Change Photo</a></p>
        </div>
        <div class="col-md-7">
            <span>user name</span>
            <di class="email">
                email@gmail.com<vdic>
                    <div class="divider">
                    </div>
                    <a href="#" class="btn btn-primary btn-sm active">View Profile</a>
        </div>
        <p>Do you want to <a href="/login">logout</a>?</p>
    </div>
</div>

<%- include('partials/footer'); %>