<%- include('partials/header'); %>

<div class="big_box">

  <div class="container-fluid">
    <div class="row m-0 p-0">
      <div class="col-md-3 sidenav m-0 p-0">

        <div class="friends_header">

          <div class="name_label">
            <h4>Friends</h4>
          </div>

          <div class="add_friends">

            <a href="/addfriend"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-plus-fill"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z" />
              </svg>
            </a>
          </div>
        </div>

        <div class="friends_box">
          <ul class="nav nav-pills nav-stacked">

            <ul id='friend-list'>
              <li class='friend'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Andres Perez
                </div>
              </li>
              <li class='friend'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Leah Slaten
                </div>
              </li>
              <li class='friend'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Mario Martinez
                </div>
              </li>
              <li class='friend'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Cynthia Lo
                </div>
              </li>
              <li class='friend'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Sally Lin
                </div>
              </li>
              <li class='friend'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Danny Tang
                </div>
              </li>
            </ul>
        </div>
        </ul>


        <div class="groups_header">

          <div class="name_label">
            <h4>Groups</h4>
          </div>

          <div class="add_people">

            <a href="/groupadd"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
              </svg>
            </a>
          </div>
        </div>



        <div class="groups_box">
          <ul class="nav nav-pills nav-stacked">
            <ul id='group-list'>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Andres Perez
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Leah Slaten
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Mario Martinez
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Cynthia Lo
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Sally Lin
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Danny Tang
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Andres Perez
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Leah Slaten
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Mario Martinez
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Cynthia Lo
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Sally Lin
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Danny Tang
                </div>
              </li>
            </ul>
        </div>
      </div>




      <div class="col-md-9 m-0 p-0">

        <div class="groupchat_box">

          <img src="images\groupone.jpg" alt="Avatar">


          <div class="group_name">
            <h4>Group one</h4>
          </div>

        </div>
        
        <div class="chat_one">

          <div class="container_msg">
            <img src="images\johnny.png" alt="Avatar">
            <div class="msg_text">
              <p>Hello. How are you today?</p>
            </div>
            <div class="time_right">11:00</div>
          </div>

          <div class="container_msg">
            <img src="images\sadboy.jpg" alt="Avatar" class="right">
            <div class="msg_text">
              <p>Hello. How are you today?</p>
            </div>
            <div class="time_left ">11:00</div>
          </div>

          <div class="container_msg">
            <img src="images\johnny.png" alt="Avatar">
            <div class="msg_text">
              <p>Hello. How are you today?</p>
            </div>
            <div class="time_right">11:00</div>
          </div>

          <div class="container_msg">
            <img src="images\sadboy.jpg" alt="Avatar" class="right">
            <div class="msg_text">
              <p>Hello. How are you today?</p>
            </div>
            <div class="time_left">11:00</div>
          </div>

          <div class="container_msg">
            <img src="images\johnny.png" alt="Avatar">
            <div class="msg_text">
              <p>Hello. How are you today?</p>
            </div>
            <div class="time_right">11:00</div>
          </div>

          <div class="container_msg">
            <img src="images\sadboy.jpg" alt="Avatar" class="right">
            <div class="msg_text">
              <p>Hello. How are you today?</p>
            </div>
            <div class="time_left ">11:00</div>
          </div>

          <div class="container_msg">
            <img src="images\johnny.png" alt="Avatar">
            <div class="msg_text">
              <p>Hello. How are you today?</p>
            </div>
            <div class="time_right">11:00</div>
          </div>

          <div class="container_msg">
            <img src="images\sadboy.jpg" alt="Avatar" class="right">
            <div class="msg_text">
              <p>Hello. How are you today?</p>
            </div>
            <div class="time_left">11:00</div>
          </div>



          <br><br>
        </div>


        <div class="sendmsg_box">
          <div class="send_msg">
            <div class="input-group">
              <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
              <span class="input-group-btn">
                <div class="send_button">
                  <button class="btn btn-sm" id="btn-chat">
                    Send</button>
                </div>

              </span>
            </div>
          </div>

          <div class="upload_file">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M4.646 4.354a.5.5 0 0 0 .708 0L8 1.707l2.646 2.647a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708z" />
              <path fill-rule="evenodd" d="M8 11.5a.5.5 0 0 0 .5-.5V2a.5.5 0 0 0-1 0v9a.5.5 0 0 0 .5.5z" />
              <path fill-rule="evenodd"
                d="M2.5 14A1.5 1.5 0 0 0 4 15.5h8a1.5 1.5 0 0 0 1.5-1.5V7A1.5 1.5 0 0 0 12 5.5h-1.5a.5.5 0 0 0 0 1H12a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5H4a.5.5 0 0 1-.5-.5V7a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 0 0-1H4A1.5 1.5 0 0 0 2.5 7v7z" />
            </svg>
          </div>

          <div class="emoji">

            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path fill-rule="evenodd"
                d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z" />
              <path
                d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
            </svg>
          </div>

        </div>





      </div>

      </form>
      <br><br>
    </div>
  </div>
</div>
</div>
</div>



<%- include('partials/footer'); %>