<%- include('partials/header'); %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 sidenav">
      <h4>Friends</h4>
      <ul class="nav nav-pills nav-stacked">
        <div class="friends">
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
        </div>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Friends..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>

      </div>
      <h4>groups</h4>
      <ul class="nav nav-pills nav-stacked">
        <div class="groups">
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
        </div>
      </ul><br>
    </div>



    <div class="col-md-9">
      <h4><small>group one</small></h4>
      <hr>
      <div class="chat_one">

        <h2>I Love Food</h2>
        <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
        <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
        <p>Hello. Do you want to view <a href="loggin.ejs">page 2</a> ?</p>
        <br><br>
      </div>

      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <h2>Officially Blogging</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
      <h5><span class="label label-success">Lorem</span></h5><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>


      <%- include('partials/footer'); %>