<%- include('partials/header'); %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 sidenav">
      <div class="name_label">
        <h4>Friends</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <div class="friends">
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
        </div>
      </ul><br>

      <div class="name_label">
        <h4>Groups</h4>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <div class="groups">
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
          <li>Oslo</li>
          <li>Stockholm</li>
          <li>Helsinki</li>
          <li>Berlin</li>
          <li>Rome</li>
          <li>Madrid</li>
          <li>Bob</li>
        </div>
      </ul><br>
    </div>



    <div class="col-md-9">
      <h4><small>group one</small></h4>
      <hr>
      <div class="chat_one">

        <h2>I Love Food</h2>
        <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
        <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
        <p>Hello. Do you want to view <a href="views/login.ejs">page 2</a> ?</p>
        <br><br>
      </div>
      <div class="Send_message">
        <h4>Message:</h4>
        <form role="form">
          <div class="form-group">
            <textarea class="form-control" required></textarea>
          </div>
          <button type="Submit" class="btn btn-success">Send</button>
        </form>
        <br><br>


        <%- include('partials/footer'); %>