<%- include('partials/header'); %>

<div class="big_box">

  <div class="container-fluid">
    <div class="row m-0 p-0">
      <div class="col-md-3 sidenav m-0 p-0">
        <div class="name_label">
          <h4>Friends</h4>
        </div>
        <div class="friends_box">
         
          <ul class="nav nav-pills nav-stacked">

            <ul id='friend-list'>
              <li class='friend'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Andres Perez
                </div>
              </li>
              <li class='friend'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Leah Slaten
                </div>
              </li>
              <li class='friend'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Mario Martinez
                </div>
              </li>
              <li class='friend'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Cynthia Lo
                </div>
              </li>
              <li class='friend'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Sally Lin
                </div>
              </li>
              <li class='friend'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Danny Tang
                </div>
              </li>
            </ul>
        </div>
        </ul>


        <div class="name_label">
          <h4>Groups</h4>
        </div>
        <div class="groups_box">
          

          <ul class="nav nav-pills nav-stacked">
            <ul id='group-list'>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Andres Perez
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Leah Slaten
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Mario Martinez
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Cynthia Lo
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Sally Lin
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Danny Tang
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Andres Perez
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Leah Slaten
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Mario Martinez
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Cynthia Lo
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Sally Lin
                </div>
              </li>
              <li class='group'>
                <img src='images\johnny.png'>
                <div class='name'>
                  Danny Tang
                </div>
              </li>
            </ul>
        </div>
      </div>




      <div class="col-md-9 m-0 p-0">
        <div class="group_name">
          <h4>group one</h4>
        </div>
        <div class="chat_one">

          <div class="container">
            <img src="images\johnny.png" alt="johnny">
            <p>Hello. How are you today?</p>
            <span class="time-right">11:00</span>
          </div>

          <div class="container darker">
            <img src="images\sadboy.jpg" alt="Me" class="right">
            <p>Hey! I'm fine. Thanks for asking!</p>
            <span class="time-left">11:01</span>
          </div>

          <div class="container">
            <img src="images\johnny.png" alt="johnny">
            <p>Sweet! So, what do you wanna do today?</p>
            <span class="time-right">11:02</span>
          </div>

          <div class="container darker">
            <img src="images\sadboy.jpg" alt="Me" class="right">
            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
            <span class="time-left">11:05</span>
          </div>
          <p>Do you want to <a href="/login">logout</a>?</p>

          <br><br>
        </div>
        <div class="Send_message">
          <h4>Message:</h4>
          <form role="form">
            <div class="form-group">
              <textarea class="form-control" required></textarea>
              <button type="Submit" class="btn btn-success">Send</button>

            </div>

          </form>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</div>



  <%- include('partials/footer'); %>
