<%- include('partials/header2'); %>

<body>
<div id='row'>
  <div id='col-md-12'>


      <div class="conatiner_index">

        <!-- background image -->
        <img class="indeximg" alt="background index img" src='images\indexone.jpg'>

        <!-- title and tag line with button -->
        <div class="logo">

          <h1>Why big chat?</h1>
          <p>simply way to talk to friends</p>
          <div class="register_login">

            <div class="login_button">
              <div class="form-group">
                <a href="/login"><button type="submit" class="btn btn-primary btn-block">Log in</button>
                </a>
              </div>
            </div>

            <div class="register_button">
              <div class="form-group">
                <a href="/register"><button type="submit" class="btn btn-primary btn-block">register</button>
                </a>
              </div>
            </div>


          </div>
        </div>
      </div>


      <div class ="about_bigchat">

        
      </div>
    </body>

  </div>
</div>



<%- include('partials/footer'); %>