<!DOCTYPE html>
<html lang="en">

<head>
    <title>App Name</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/2ea5bc6e34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <div class="login-form">
        <form action="/login" method="post">
            <h2 class="text-center">Bigchat Log in</h2>       
            <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Username" required="required">
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required="required">
            </div>
            <div class="form-group">
                <a href="/groupone"><button type="submit" class="btn btn-primary btn-block">Log in</button>
                </a>
            </div>
            <div class="clearfix">
                <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
                <a href="#" class="float-right">Forgot Password?</a>
            </div>      
            <br>  
            <div class="back button">
                <input type="button" value="back" onclick="history.go(-1)">
            </div>
        </form>
        <p class="text-center"><a href="/register">Create an Account</a></p>
    </div>
</body>
<%- include('partials/footer'); %>